# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache/options
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userprefs

# Build outputs
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# Others
*.log
*.cache
*.dll
*.exe
*.pdb